.inputs-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 420px;
}
.label-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.input-text{
    min-width: 300px;
    border-color: rgba(224,192,169,255);
    box-shadow: 0px 0px 4px 1px;
    min-height: 25px;
}
textarea{
    box-shadow: 0px 0px 4px 1px;
}
label{
    font-size: 20px;
    margin-bottom: 15px;
}
input{
    border-radius: 5px;
    height: 20px;
}
.button{
    background-color: rgba(224,192,169,255);
    border: 1px solid black;
    height: 30px;
    width: 100px;
    cursor: pointer;
    margin-top: 15px;
}
textarea, select{
    border-radius: 5px;
}
form{
    margin-bottom: 20px;
}