<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mystyle.css}">
    <link rel="stylesheet" th:href="@{/ccs/newPlayerStyles.css}" />
</head>
<body>
<header th:replace="fragments/commons::nav">
</header>
<main>
    <form th:action="@{player-add}" method="POST" th:object="${playerAddBindingModel}">
        <div class="inputs-wrapper">
            <div class="label-wrapper">
                <label >Player name:</label
                ><input
                    th:field="*{name}"
                    class="input-text"
                    name="heading"
                    type="text"
            />
            </div>
            <div class="label-wrapper">
                <label >Player description:</label>
                <textarea
                        th:field="*{description}"
                        name="description"
                        cols="45"
                        rows="15"
                        required
                ></textarea>
            </div>
            <div class="label-wrapper">
                <label>Type:</label>
                <select
                        th:field="*{position}"
                        required
                        class="input-text"
                        name="type"
                        id="types"
                >
                    <option value="" selected>TYPE</option>
                    <option th:each="t : ${T(springadvanced.exam.model.enums.PlayerPositions)}" th:value="${t}" th:text="${t}">Player</option>

                </select>
            </div>

            <div><input class="button" type="submit" value="Add player" /></div>
        </div>
    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
