<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mystyle.css}">
    <link rel="stylesheet" th:href="@{/css/newPostStyles.css}" />
</head>
<body>
<header th:replace="fragments/commons::nav">
</header>
<main>
    <form action="">
        <div class="inputs-wrapper">
            <div class="label-wrapper">
                <label >Heading:</label
                ><input
                    class="input-text"
                    name="heading"
                    required
                    type="text"
            />
            </div>
            <div class="label-wrapper">
                <label >Description:</label>
                <textarea
                        name="description"
                        cols="45"
                        rows="15"
                        required
                ></textarea>
            </div>
            <div class="label-wrapper">
                <label >Type:</label>
                <select
                        required
                        class="input-text"
                        name="type"
                        id="types"
                >
                    <option value="player">Player</option>
                    <option value="team">Team</option>
                </select>
            </div>

            <div><input class="button" type="submit" value="Post" /></div>
        </div>
    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
