<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/mystyle.css}" />
    <link rel="stylesheet" th:href="@{/css/homeStyles.css}" />

</head>
<body>
<header th:replace="fragments/commons::nav">
</header>
<main>
    <div class="container-fluid">
        <h1>Welcome to Stats!</h1>
        <h3>Total requests <th:block th:text="${stats.getTotalRequests()}"></th:block></h3>
        <h3>Anonymous requests <th:block th:text="${stats.getAnonRequests()}"></th:block></h3>
        <h3>Authorized requests <th:block th:text="${stats.getAuthRequests()}"></th:block></h3>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
